Package: enigma2-plugin-skins-ultimate
Version: 0.8.3
Section: base
Priority: optional
Architecture: all
Maintainer: stein17
Description: Skin HD for HDF by stein17
Depends: enigma2-plugin-skincomponents-weathercomponent, enigma2-plugin-systemplugins-weathercomponenthandler
Source: https://www.hdfreaks.cc
Homepage: https://www.hdfreaks.cc
OE: Enigma2 Skin
License: open